table, th, tr, td {
  border: 1px solid black;
}

table, td {
  text-align: center;
  vertical-align: middle;
}

p {
  margin: 0;
}

.comments-table {
  border-collapse: separate;
}

.details-container .box {
  width: 100%;
  display:table;
}
.details-container .box .box-row {
  display:table-row;
}
.details-container .box .box-cell {
  display:table-cell;
  padding:10px;
}
.details-container .box .box-cell.box1 {
  width: 10%;
}

#comment-form {
  width: 20%;
}